<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
  <session-factory>
    <!--  Paramètres de connexion à la base de données -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin2010</property>

    <!-- Comportement pour la conservation des tables -->
    
    <property name="hbm2ddl.auto">update</property>
    <property name="hbm2ddl.auto">select</property>
    <!-- Montrer toutes les requêtes générées-->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    <mapping class="gestioncomm.Produit"/>
    <mapping class="gestioncomm.Client"/>
    <mapping class="gestioncomm.Fournisseur"/>
    <mapping class="gestioncomm.Commande"/>
    <mapping class="gestioncomm.Pcbureau"/>
     <mapping class="gestioncomm.Smartphone"/>
     <mapping class="gestioncomm.Laptop"/>
     <mapping class="gestioncomm.Facture"/>
    
    


  </session-factory>
</hibernate-configuration>
